<div class="card text-center">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Adhyayan IT Training And Placement</h5>
      <p class="card-text">We provide best Fullstack Java, Fullstack Python, AWS - Cloud & DevOPS, Data Science & Machine Learning training and placement with job assistance.</p>
      <a href="addstudent.html" class="btn btn-primary">Go Fast!</a>
    </div>
    <div class="card-footer text-body-secondary">
     KarveNagar,Pune-411052.
    </div>
  </div>